Flask==1.1.2
gunicorn==19.9.0
textblob==0.15.3
https://github.com/sloria/TextBlob/tarball/master
https://raw.github.com/sloria/TextBlob/master/download_corpora.py
spacy==2.0.13
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz